*{
    padding: 0;
    margin: 0;
}
.block1{
    width:1280px;
    margin: 0 auto;
    padding:40px;
    height:81px;
    font-size: 18px;
    /*color: #16a085;*/
    text-align: center;
    /*text-transform: uppercase;*/
    /*list-style-type:none;*/
}
.block2{
    width:1280px;
    height:790px;
}
.text{
    padding: 30px 0;
    background: #f5f6f7;
}
.block3{
    text-align: center;
    /*width: 1280px;*/
    padding-left: 110px;
    padding-right: 113px;
    padding-bottom: 41px;
    padding-top: 34px;
}
.text-first{
    padding-bottom: 20px;
    padding-top: 41px;
}
.block4, h1{
    text-transform: uppercase;
    text-align: center;
}
.h1{
    font-size: 22px;
    width: 621px;
    height: 17px;

}
.block4{
    margin: 0 auto;
 }
.btn{
    background-color: #16a085;
    color: #d0ece7;
    font-size: 12px;
     border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    /*font-weight: bold;*/
    /*margin: 505px 561px 94px 527px;*/
}
.block5 {
    font-size: 16px;
   text-align: right;
    margin-right: 104px;
    margin-bottom: 45px;
    margin-top: 47px;

    /*width:1280px;*/
    /*height:108px;*/
    /*margin-right: 104px;*/
}

.list{
    list-style: none;
    text-align: center;
    padding-left: 332px;
    padding-right: 371px;
    padding-bottom: 40px;
}
li{
    display: inline-block;
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    word-spacing: 188px;
}
a{
    color: #16a085;
    text-decoration: none;
    word-spacing:  188px;
    }